.overlay_err_dialog{
	position:fixed;
	top: 52%;	
	left: 49%;
	height: 250px;
	width:400px;
	margin-left: -190px;
	margin-top: -100px;
	background: #ffffff;
	border: 2px solid #336699;	
	border-radius: 15px;
	z-index: 101;
	opacity: .950;
	font-family: Verdana;
	font-size: 10pt;
	display: block;
}

.err_title{
	border-bottom:solid 2px #336699;
	backgroud: #ffffff;
	padding: 4px;
	color:red;
	font-weight: bold;
}

.err_msg{
	padding: 20px;
	color: #000000;
	font-weight: bold;
}

.align_right{
	text-align: right;
}